*{
    margin: 0;
    padding: 0;
}

.s-headline-card{
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 12px;
}
.main-headline-card{
    height: 100%;
}

.carousel-caption-home{
    background-color: rgba(17, 17, 17, 0.5);

}

@media (max-width: 910px) {
    .headline-heading{
        font-size: 28px;
    }

    .headline-paragraph{
        font-size: 16px;
    }

    .carousel-caption .btn{
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .headline-heading{
        font-size: 22px;
    }

    .headline-paragraph{
        font-size: 14px;
    }

    .carousel-caption .btn{
        font-size: 12px;
    }
}

@media (max-width: 360px) {
    .headline-heading{
        font-size: 16px;
    }

    .headline-paragraph{
        font-size: 0;
    }

    .carousel-caption .btn{
        font-size: 10px;
        padding: 2.5px 5px;
    }
}